<!DOCTYPE html>
<html ng-app>
<head>
	<title>
		{{titulo}}
	</title>

	<script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../assets/js/jquery-1.10.2.js"></script>
    <script type="application/javascript" src="../../assets/font-awesome/fonts/fontawesome-webfontba72.eot"></script>
	<meta charset="utf-8">
	<meta nam e="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
<div id="wrapper">
    <div class="container">
        <nav class="navbar navbar-default top-navbar" role="navigation">
  			<div class="navbar-header">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/">Volver </a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <h3>
			{{nombre}}
        </h3>
        <br><br><br>
        <label for="nombrepatente">{{label1}}</label>
        
        
  	<div class="col-xs-2">

    </div>  


    <form class="col-xs-4" (ngSubmit)="createUser(newUser.value)" #newUser="ngForm">
<div>
    	<label for="nombrepatente">Nombre</label>
    		 <fieldset>
    			<input type="text" id="azz" class="form-control" placeholder="Nombre y apellidos" name="nombre" [(ngModel)]="user.nombre">
    		 </fieldset>	

        <label for="nombrepatente">Telefono</label>
    		 <fieldset>
    			<input type="number" id="bzz" class="form-control" placeholder="Telefono" ngModel/>
    		 </fieldset>
        
        <label for="direccion">Dirección</label>
        <fieldset>
            <input type="text" id="aa" class="form-control" placeholder="Dirección" ngModel/>
    	</fieldset>
        
        <label for="email">Email</label>
        <fieldset>
            <input type="email" id="emailAddress" class="form-control" placeholder="Correo electrónico" ngModel/>
    	</fieldset>
        
        <label for="usuario">Usuario</label>
        <fieldset>
            <input type="text" name="usuario" class="form-control" placeholder="Usuario" ngModel/>
    	</fieldset>
        
        <label for="nombre" id="nombre1">Contraseña</label>
        <fieldset>
            <show-hide-password id="hide-pass" >
            <input type="password" id="c" class="form-control" placeholder="Contraseña" ngModel/>
                <label id="f">Mostrar contraseña</label>
            </show-hide-password> 
        </fieldset>
    	
        <br>
        
        <button type="submit" class="btn btn-info">Registrarse </button>  
   </div>
    </form>
        
    <script src="assets/js/jquery-1.10.2.js"></script>
	<!-- Bootstrap Js -->
    <script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/materialize/js/materialize.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="assets/js/jquery.metisMenu.js"></script>
    
	
	 <script src="assets/js/Lightweight-Chart/jquery.chart.js"></script>
	 <!-- DATA TABLE SCRIPTS -->
    <script src="assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="assets/js/dataTables/dataTables.bootstrap.js"></script>
    <!-- Custom Js -->
    <script src="assets/js/custom-scripts.js"></script> 


	</div>

    
</div>
</body>
</html>